.icon {
	width: 40px;
	height: 40px;

	&__img-burger {
		vertical-align: middle;
	}

	&__img-call {
		display: block;
		background-image: url('../img/call.svg');
	}

	&__img-chat {
		display: block;
		background-image: url('../img/chat.svg');
	}

	&__img-profile {
		display: block;
		background-image: url('../img/profile.svg');
	}

	&__img-repair {
		display: block;
		background-image: url('../img/repair.svg');
	}

	&__img-checkstatus {
		display: block;
		background-image: url('../img/checkstatus.svg');
	}

	&__img-search {
		display: block;
		background-image: url('../img/search.svg');
	}

	&__img-cross {
		display: block;
		background-image: url('../img/cross.svg');
	}
}
.icon--avtive {
	&:hover {
		opacity: 0.6;
		transform: scale(1.1);
		transition: opacity, scale 1s, 1s;
	}

	&:active {
		opacity: 1;
		transform: scale(0.9);
		transition: opacity, scale 0.1s, 0.1s;
	}
}