$font-regular: ttlakes-regular, sans-serif;
$font-medium: ttlakes-medium, sans-serif;
$font-bold: ttlakes-bold, sans-serif;

$color-divider: #EAEAEA;
$color-main: #F8F8F8;
$color-before: #41F6D7;
$color-text: #1B1C21;
$color-text-pale: #7E7E82;
$color-background-white: #FFFFFF;
$color-border-hover: #B8FFEC;
$color-link-active: #0000ff;
$color-item-border: #EAEAEA;
$color-pagination: #B5B6BC;
$color-background-order: #FF3E79;
$color-border-footer: #D9FFF5;